# Don't commit, but keep folder
data/*
!data/README.md
weights/*
!weights/README.md

# Ingore Spyer project stuff
.spyproject/





data.zip
scripts/graceindiabig.npy
scripts/indiabig_twsdata.npy
scripts/NDVI_indiabig.npy
scripts/__pycache__/
scripts/meanerr.png
scripts/indiadb.npy
scripts/waterlvlavgindiabig.npy
scripts/.ipynb_checkpoints/
.git
